/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  background-color: #ffd569;
  padding: 20px;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  border-radius: 10px;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 70%;
}
.heading {
  color: #000000;
  font-size: 40px;
  text-align: center;
}
.spanEl {
  color: #ffd569;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image {
  width: 300px;
  margin: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button {
  color: #ffffff;
  padding: 7px;
  border-radius: 6px;
  background-color: #007bff;
  border-style: none;
  cursor: pointer;
}
